/* Any conditionals are updated in the create/update's respective files */

body {
    height: 100%;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border: 5px solid green;

    height: 100%;
}

/* Blog */

/* .blog.h2 {
    margin-bottom: 1em;
} */

/* height of 4 em, width of 50 em is equivalent to rows: 4, cols: 50*/
textarea, input[type="number"]{
    width: 60%;
}

textarea {
    height: 5em;
}

input {
    height: 1.5em;
}


