body {
    width: 100%;
}

/* Header */

header {
    width: 100%;
    max-height: 100px;
    min-height: 50px;
    border: 1px solid black;

    position: sticky;
    top: 0;
}

/* Content */

main {
    border: 1px solid black;

    display: grid;
    grid-template-columns: 3fr 1fr;
}

.blog-column {
    border: 1px solid pink;
    margin: 1em;
}

.blog-tool-column {
    border: 1px solid pink;
    margin: 1em;
}

/* Footer */

footer {
    max-height: 100px;
    min-height: 50px;

    width: 100%;

    border: 1px solid black;

    position: fixed;
    bottom: 0;
}

/*  */