body {
    width: 100%;
}

/* Header */

header {
    width: 100%;
    max-height: 100px;
    min-height: 50px;
    border: 1px solid black;
}

/* Content */

main {
    border: 1px solid black;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.blog-tool-column {
    border: 1px solid black;
}

/* Footer */

footer {
    max-height: 100px;
    min-height: 50px;

    border: 1px solid black;
}